<!DOCTYPE html>
<html lang="hu" xmlns:th="http://www.thymeleaf.org">
<body>
<section class="form-card auth-form-card" th:fragment="content">
    <form th:action="@{/auth/update-password}" method="post">
        <label>
            User
            <select name="userId" required>
                <option value="" selected disabled>Select a user</option>
                <option th:each="user : ${users}"
                        th:value="${user.id}"
                        th:text="${user.username + ' (' + user.id + ')'}">
                    username (user-id)
                </option>
            </select>
        </label>
        <label>
            New password
            <input name="password" type="password" autocomplete="new-password" required>
        </label>
        <button class="primary-button" type="submit">Update password</button>
    </form>
</section>
</body>
</html>
