ORACLE_PASSWORD=replace-with-oracle-admin-password
APP_USER=home
APP_USER_PASSWORD=replace-with-home-database-password
HOME_AUTH_INITIALADMIN_USERNAME=admin
HOME_AUTH_INITIALADMIN_PASSWORD=replace-with-home-admin-password
# Exactly 8 characters, change this example.
VNC_PASSWORD=ChangeMe
TCG_DECK_RESOURCE_PATTERN=file:/tcg/*.csv
